node_modules/
dist/
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.hbc
.expo/
android/build/
modules/*/android/build/
modules/*/android/.gradle/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
